<mat-toolbar color="primary">
  <span>Anisong Events - all <a href="https://calendar.google.com/calendar/embed?src=lo16ktdh0hekmkkrijhtuf1ue0%40group.calendar.google.com&ctz=America%2FLos_Angeles" target="#">event data</a> courtesy of <a href="https://twitter.com/bogle_animu" target="#">@bogle_animu</a></span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon><a href="https://github.com/Vergo777/anisong" target="#"><fa-icon [icon]="faGithub"></fa-icon></a></mat-icon>
  </button>
  <span class="love">Made with ❤ by Vergo</span>
</mat-toolbar>
